header {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.link {
  margin: 0 10px;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-list-view {
  flex-direction: column;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.active-link {
  color: teal;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

